
.projects-button {
  background-color: #131212; 
  color: rgb(252, 255, 255);
  border: none;
  height: 90px;
  width: 180px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-family: Hedvig Letters Serif, serif;
  transition: opacity 0.3s ease,
  background-color 0.3s ease, color 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: text-decoration-color 0.3s ease;
}  

.projects-button:hover  {
  opacity :0.7;
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration-color:(#076603);
  box-shadow: 3px 3px 5px rgba(7, 102, 3, 0.596);
  text-decoration: underline;
}
  
.projects-button:active {
  color: rgb(7, 102, 3);
  background-color: rgb(0, 0, 0);
}

.aboutme-button {
  background-color: #131212; 
  color: rgb(255, 255, 255);
  border: none;
  height: 90px;
  width: 180px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-family: Hedvig Letters Serif, serif;
}

.aboutme-button:hover  {
  opacity :0.7;
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration-color: rgb(7, 102, 3);
  box-shadow: 3px 3px 5px rgba(7, 102, 3, 0.596);
  text-decoration: underline;
}

.aboutme-button:active {
  color: rgb(7, 102, 3);
  background-color: rgb(0, 0, 0);
}

.home-button {
  background-color: #131212; 
  color: rgb(255, 255, 255);
  border: none;
  height: 90px;
  width: 180px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-family: Hedvig Letters Serif, serif;
  margin-top: 5px;
}

.home-button:hover  {
  opacity :0.7;
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration-color: rgb(7, 102, 3);
  box-shadow: 3px 3px 5px rgba(7, 102, 3, 0.596);
  text-decoration: underline;
}

.home-button:active {
  color: rgb(7, 102, 3);
  background-color: rgb(0, 0, 0);
}