
.summary {
  font-family: poppins, sans-serif;
  font-size: 20px;
  text-align: left;
  color: #454A43; 
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.name {
  font-family: Hedvig Letters Serif, serif;
  font-size: 40px;
  color: #454A43;
  text-align: center;
  width: 100%;
}



